h1 {
  text-align: center;
}

sb {
  float: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.box {
  width: 470px;
  height: 100px;
}

input.input {
  width: 60px;
  height: 60px;
}

button.button.is-info {
  height: 60px;
}

.column1 {
  float: right;
  padding-right: 150px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
